body {
    background-color: #fafafa ;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.roboto-font {
    font-family: "roboto-font";
}

.Libre Franklin-font {
    font-family: "libre-font";

}
.Montserrat-font{
    font-family:  "Montserrat-font";
}

.top-menu {
    background-color: #001958;
    color: white;
    padding: 10px 0 10px 100px;
    position: fixed;
    width: 100%;
    top:0;
  }

.top-menu-options {
    margin-left: 15px;
}
.info-header {
    margin-top: 50px;
}